[submodule "code/cneuromod_extract_tseries"]
	path = code/cneuromod_extract_tseries
	url = git@github.com:courtois-neuromod/cneuromod_extract_tseries.git
	datalad-id = ae0100ab-db64-4559-80e2-f41fed3cc5f4
	datalad-url = git@github.com:courtois-neuromod/cneuromod_extract_tseries.git
[submodule "sourcedata/ood.fmriprep"]
	path = sourcedata/ood.fmriprep
	url = git@github.com:courtois-neuromod/ood.fmriprep.git
	datalad-id = f5896166-1256-4a2a-a9fc-9820b19d2fa0
	datalad-url = git@github.com:courtois-neuromod/ood.fmriprep.git
